<%= form_for entry do |f| %>

  <%= f.label "Choose Project:" %>
  <%= f.collection_select :project_id, projects, :id, :name %>
  <%= f.hidden_field :user_id, value: session[:user_id] %>

  <br>

  <%= f.label "Date:" %>
  <%= f.date_select :date %></br>

  <%= f.label "Start time:" %>
  <%= f.time_select :start_time, :minute_step => 15 %></br>
  <%= f.label "End time:" %>
  <%= f.time_select :end_time, :minute_step => 15 %></br>
  <%= f.label "Notes:" %>
  <%= f.text_field :notes %>

  <p><%= f.submit %></p>
<% end %>