<h1>Time Entries</h1>

<%= link_to "+ Add entry", new_entry_path %>

<p>
<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>
</p>

<% @entries.each do |entry| %>
	<p>
		<strong><%= entry.project.name %> | <%= entry.date.strftime("%b %d, %Y") %></strong> 
		<%= link_to "[delete entry]", "/entries/#{entry.id}", method: :delete %><br>
		<strong>Hours:</strong> <%= entry.start_time.strftime("%H:%M") %> to <%= entry.end_time.strftime("%H:%M") %> | 
		<strong>Notes:</strong> <i><%= entry.notes %></i>
	</p>
<% end %>
