<h1>Time Entries</h1>

<p>
<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>
</p>

<% @entries.each do |entry| %>
	<p>
		<strong><%= entry.date.strftime("%b %d, %Y") %></strong> <br>
		<strong>Hours:</strong> <%= entry.start_time.strftime("%H:%M") %> to <%= entry.end_time.strftime("%H:%M") %> | 
		<strong>Notes:</strong> <%= entry.notes %> <br>
	</p>
<% end %>
