<h2>Welcome <%= @user.name %>!</h2>

<hr>

<div class="row row-eq-height">
	<div class="col-md-offset-0 col-md-6">
		<h3>Recent activity:</h3>

		<% if Entry.all.empty? %>
			There are no recent entries.

		<% else %>
			<ul>
				<% Entry.all.latest.each do |entry| %>
				<li>
					<% hour = Entry.calc_hours_entry(entry) %>
					<% if hour > 1 %>
					<%= link_to entry.user.name, user_path(entry.user) %> worked on <%= link_to entry.project.name, project_path(entry.project) %> for <strong><%= hour%> hours</strong>
					<% else %>
					<%= link_to entry.user.name, user_path(entry.user) %> worked on <%= link_to entry.project.name, project_path(entry.project) %> for <strong><%= hour %> hour</strong>
					<% end %>
				</li>
				<% end %>
			</ul>

		<% end %>

		<div class="bottom-div">
			<%= link_to "+ Add entry", new_user_entry_path(current_user), class: "btn btn-success btn-sm btn-block" %>
		</div>
	</div>

	<div class="col-md-offset-0 col-md-6">
		<h3>Your Projects:</h3>

		<% if Project.user_projects(current_user).empty? %>
			
			You currently do not have any projects.

		<% else %>
			<ul>
				<% Project.user_projects(current_user).each do |project| %>
				<li><%= link_to project.name, project_path(project) %> </li>
				<% end %>
			</ul>
		<div class="bottom-div">
			<%= link_to "View All", all_projects_path, class: "btn btn-success btn-sm btn-block" %>
		</div>
		<% end %>
	</div>
</div>
