<div class="signup_header">
  <h1>Sign Up</h1>
</div>

<div class="col-md-offset-4 col-md-5">

  <p>
  <font color="red">
  <ul>
  <% if @user && @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error%></li>
    <% end %>
  <% end %>
  </ul>
  </font>
</p>

  <%= form_for :user, url: '/signup' do |f| %>

  <table>
    <tr>
      <td>
        <%= f.label "Your Name:" %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>

      <td>
        <%= f.label "Your Email:" %>
      </td>
      <td>
        <%= f.text_field :email %>
      </td>

    <tr>
      <td>
        <%= f.label "Password:" %>
      </td>
      <td>
        <%= f.password_field :password %>
      </td>
    </tr>

      <td>
        <%= f.label "Password Confirmation:" %>
      </td>
      <td>
        <%= f.password_field :password_confirmation %>
      </td>
  </table>

    <p><%= f.submit "Signup", class: "btn btn-primary btn-sm" %></p>

  <% end %>
</div>
