<h1>Welcome <%= @user.name %>!</h1>


<hr>
Your most recent time entries: 

<% if @entries.empty? %>
You have no recent entries.

<% else %>
	<% @entries.each do |entry| %>
		<p>
			<strong><%= entry.project.name %> | <%= entry.date.strftime("%b %d, %Y") %></strong> <br>
			<strong>Hours:</strong> <%= entry.start_time.strftime("%H:%M") %> to <%= entry.end_time.strftime("%H:%M") %> | 
			<strong>Notes:</strong> <%= entry.notes %> <br>
		</p>
	<% end %>
<% end %>

<%= link_to "View All", entries_path %>
