<h1>Welcome <%= @user.name %>!</h1>


<hr>

- Dashboard will show all projects (from all users). All projects will be listed in the + time entry dropdown <br>
 - also show most recent time entries (all) called Recent Collaboration Entries and you can click to view all<br>
 - option to just filter and view yours or other filters (by client and project)<br>

- Each project will have an owner, you can view other people's projects and add entries to them to collaborate<br>
- 



Your most recent time entries: 

<% if @entries.empty? %>
You have no recent entries.

<% else %>
	<% @entries.each do |entry| %>
		<p>
			<strong><%= entry.project.name %> | <%= entry.date.strftime("%b %d, %Y") %></strong> <br>
			<strong>Hours:</strong> <%= entry.start_time.strftime("%H:%M") %> to <%= entry.end_time.strftime("%H:%M") %> | 
			<strong>Notes:</strong> <%= entry.notes %> <br>
		</p>
	<% end %>
<% end %>

<%= link_to "View All", entries_path %>
