<h1>Welcome <%= @user.name %>!</h1>


<hr>


<h3>Recent project collaborations:</h3>

<% if Entry.all.empty? %>
There are no recent entries.

<% else %>
	<% Entry.all.latest.each do |entry| %>
		<p>
			<strong><%= entry.project.name %> | <%= entry.date.strftime("%b %d, %Y") %></strong> <br>
			<strong><%= entry.user.name %></strong> worked from <%= entry.start_time.strftime("%H:%M") %> to <%= entry.end_time.strftime("%H:%M") %> |  
			<i>"<%= entry.notes %>"</i> <br>
		</p>
	<% end %>
<% end %>

<%= link_to "View All", entries_path %>
