<%= link_to "Manage Clients", user_clients_path(@user) %> |
<%= link_to "Manage Projects", user_projects_path(@user) %> | 
<%#= link_to "Manage Time Entries",  %>

<hr>

<h1>Welcome <%= @user.name %>!</h1>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <%= submit_tag 'Logout' %>
<% end %>
