<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>

<h1><%= @client.name %></h1>

Client's Projects:

<% if @projects.empty? %>
  <p>Client does not have any assigned projects yet.</p>
<% else %>
  <ul>
    <% @projects.each do |project| %>
      <li><%= project.name %></li>
    <% end %>
  </ul>
<% end %>


<%= link_to "+ Add a Project", new_client_project_path(@client) %>
<p><%= link_to "< View all clients", clients_path %></p>
