<%= form_for project do |f| %>

  <%= f.label "Project Owner:" %>
  <%= f.collection_select :owner, User.all, :id, :name, :selected => current_user.id %>

  <br>

  <%= f.label "Project Name:" %>
  <%= f.text_field :name %></br>
  <%= f.label "Deadline:" %>
  <%= f.date_select :deadline %></br>
  <%= f.label "Status:" %>
  <%= f.select :status, project.statuses %>

  <p><%= f.submit %></p>
<% end %>
