<%= form_for project do |f| %>

  <%= f.label "Choose Client:" %>
  <%= f.collection_select :client_id, Client.all, :id, :name, :selected => project.client_id || params[:client_id] %>

  <br>

  <%= f.hidden_field :user_id, value: session[:user_id] %>

  <%= f.label "Project Name:" %>
  <%= f.text_field :name %></br>
  <%= f.label "Deadline:" %>
  <%= f.date_select :deadline %></br>
  <%= f.label "Status:" %>
  <%= f.select :status, project.statuses %>

  <p><%= f.submit %></p>
<% end %>
