<hr>
<h3>Add New Project</h3>

<%= form_for @project do |f| %>

  <table>
    <tr>
      <td>
        <%= f.label "Project Owner:" %>
      </td>
      <td>
        <%= current_user.name %>
        <%= f.hidden_field :owner, value: current_user.id %>
        <%#= f.collection_select :owner, User.all, :id, :name, :selected => current_user.id %>
      </td>
    </tr>

      <td>
        <%= f.label "Project Name:" %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>

    <tr>
      <td>
        <%= f.label "Deadline:" %>
      </td>
      <td>
        <%= f.date_select :deadline %>
      </td>
    </tr>

      <td>
        <%= f.label "Status:" %>
      </td>
      <td>
        <%= f.select :status, @project.statuses %>
      </td>
  </table>

    <p><%= f.submit class: "btn btn-primary btn-sm" %></p>

<% end %>
