<h2>Your Projects</h2>

<hr>

<table>
	<tr>
		<th>Project Name</th>
		<th>Project Owner</th>
		<th>Current Status</th>
		<th>Total Hours</th>

	</tr>
	
	  <% @projects.each do |project| %>
	  	<tr><td><strong><%= link_to "#{project.name}", project_path(project) %></strong></td>
	  	<td><%= link_to Project.project_owner(project).name, user_path(Project.project_owner(project)) %></td>
	  	<td><%= project.status %></td>
	  	<td><%= Entry.calc_hours(project.entries.desc_order) %></td>
	  	</tr>
	  <% end %>
</table>

<hr>

<%#= link_to "+ Add project", new_user_project_path(@current_user), class: "btn btn-primary btn-sm" %>
<%= link_to "+ Add project", "#", class: "btn btn-primary btn-sm", id: "js-add-project" %>
<%= link_to "View all projects", all_projects_path, class: "btn btn-success btn-sm" %>

<div id="new-post-form"></div>
