<h1>Create a new Project</h1>

<p>Client: <%= @client.name %></p>


<%= form_for :project, url: '/projects' do |f| %>
  <%= f.hidden_field :client_id, value: @client.id %>
  <%= f.hidden_field :user_id, value: session[:user_id] %>

  <%= f.label "Project Name:" %>
  <%= f.text_field :name %></br>
  <%= f.label "Deadline:" %>
  <%= f.text_field :deadline %></br>
  <%= f.label "Status:" %>
  <%= f.text_field :status %>

  <p><%= f.submit "Create Project" %></p>
<% end %>
