<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>

<h1>Project Name: <%= @project.name %></h1>

<ul>
	<li>Client: <%= link_to "#{@project.client.name}", @client %></li>
	<li>Status: <%= @project.status %></li>
	<li>Deadline: <%= @project.deadline %></li>
</ul>

<p>
	<%= link_to 'Edit Project', edit_project_path(@project) %> | 
	<%= link_to "+ Add new time entry", new_entry_path %> | Display most recent time entries here 
</p> 
