<!-- this div contains JSON data for project -->
<div id="project-info"></div>

<hr>

<% if @owner.name == current_user.name %>
	<%= link_to 'Edit Project', edit_project_path(@project), class: "btn btn-primary btn-sm" %>
	<%= link_to "Delete Project", "/projects/#{@project.id}", method: :delete, data: {confirm: "NOTE: Deleting a project will delete all related time entries!"}, class: "btn btn-danger btn-sm" %>
<% end %>

<hr>

<h3>Project Activity:</h3>

<!-- this div contains JSON data for entries -->
<div id="entries-info"></div>



<% if @entries.empty? %>
	<p><i>No activity has been recorded for this project yet. Click below to add an entry:</i></p>
<% else %>

	<table>
		<tr>
			<th>Date</th>
			<th>Contributor</th>
			<th>Hours</th>
			<th>Notes</th>
		</tr>

		<% @entries.each do |entry| %>
			<tr>
				<td><%= entry.calc_date(entry.date) %></strong> </td>
				<td><%= link_to entry.user.name, user_path(entry.user) %></td>
				<td><%= entry.calc_time(entry.start_time) %> to <%= entry.calc_time(entry.end_time) %></td>
				<td><i><%= entry.notes %></i></td>
				<td><% if entry.user.name == current_user.name %> <%= link_to "delete entry", "/entries/#{entry.id}", method: :delete, class: "form_button" %><% end %></td>
			</tr>
		<% end %>
		<tr>
			<td></td><td class="table_total"><strong>Total hours:</strong> 
			</td><td class="table_total"><strong><%= Entry.calc_hours(@entries) %></strong></td>
		</tr>
	</table>

	<p>
	</p>

<% end %>

<p>
	<%= link_to "+ Add entry", new_project_entry_path(@project), class: "btn btn-primary btn-sm" %>
</p>
