<h1>Project Name: <%= @project.name %></h1>

<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>

<table>
	<tr>
		<th>Owner</th>
		<th>Status</th>
		<th>Deadline</th>
	</tr>
	<tr>
		<td><%= @owner.name %></td>
		<td><%= @project.status %></td>
		<td><%= @project.deadline.strftime("%b %d, %Y") %></td>
		<td><%= link_to 'Edit Project', edit_project_path(@project), class: "form_button" %></td>
		<td><%= link_to "Delete Project", "/projects/#{@project.id}", method: :delete, class: "form_button" %></td>
	</tr>
</table>

<hr>

