<h1>Project Name: <%= @project.name %></h1>

<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>

<ul>
	<li>Status: <%= @project.status %></li>
	<li>Deadline: <%= @project.deadline.strftime("%b %d, %Y") %></li>
</ul>

<p>
	<%= link_to 'Edit Project', edit_project_path(@project) %> | 
	<%= link_to "Delete Project", "/projects/#{@project.id}", method: :delete %>
</p>
