<h1>Project Name: <%= @project.name %></h1>

<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>

<hr>


<table>
	<tr><td><strong>Owner:</strong></td><td> <%= @owner.name %></td></tr>
	<tr><td><strong>Status:</strong></td><td> <%= @project.status %></td></tr>
	<tr><td><strong>Deadline:</strong></td><td> <%= @project.calc_date(@project.deadline) %></td></tr>

<% if @owner.name == current_user.name %>
	<td><%= link_to 'Edit Project', edit_project_path(@project), class: "form_button" %></td>
	<td><%= link_to "Delete Project", "/projects/#{@project.id}", method: :delete, class: "form_button" %></td>
<% end %>
</table>


<hr>

<h3>Project Activity:</h3>


<% if @entries.empty? %>
	No activity has been recorded for this project yet. Click below to add an entry:
<% else %>

	<table>
		<tr>
			<th>Date</th>
			<th>Contributor</th>
			<th>Hours</th>
			<th>Notes</th>
		</tr>

		<% @entries.each do |entry| %>
			<tr>
				<td><%= entry.calc_date(entry.date) %></strong> </td>
				<td><strong><%= entry.user.name %></strong></td>
				<td><%= entry.calc_time(entry.start_time) %> to <%= entry.calc_time(entry.end_time) %></td>
				<td><i><%= entry.notes %></i></td>
				<td><% if entry.user.name == current_user.name %> <%= link_to "delete entry", "/entries/#{entry.id}", method: :delete, class: "form_button" %><% end %></td>
			</tr>
		<% end %>
		<tr>
			<td></td><td class="table_total"><strong>Total hours:</strong> 
			</td><td class="table_total">XYZ</td>
		</tr>
	</table>

	<p>
	</p>

<% end %>

<p>
	<%= link_to "+ Add entry", new_user_entry_path(current_user), class: "form_button" %>
</p>