<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <%= render "/layouts/navigation" %>
    <% else %>
      <%= render "/layouts/welcomenav" %>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger text-center"> <%= flash[:message] %></div>
    <% end %>

    <% if flash[:success] %>
      <div class="alert alert-success text-center"> <%= flash[:success] %></div>
    <% end %>

    <div class="container" role="main">
      <%= yield %>
    </div>

    <div class="container">
      <footer class="footer">
          <small><strong>&copy; 2018 TimeTracker</strong></small>
        </footer>
    </div>

  </body>
</html>

