<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:message] %>
    <div class="alert alert-danger text-center"> <%= flash[:message] %></div>
    <% end %>
    </div>

    <% if flash[:success] %>
    <div class="alert alert-success text-center"> <%= flash[:success] %></div>
    <% end %>
    </div>

    <%= render "/layouts/navigation" %>

    <div class="container" role="main">
      <%= yield %>
    </div>


    <div class="container">
      <footer class="branding text-center">
          <small>&copy; 2018 <strong>TimeTracker App</strong></small>
        </footer>
    </div>

  </body>
</html>

