<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>

    <% if current_user %>
      <%= render "/layouts/navigation" %>
    <% else %>
      <%= render "/layouts/welcomenav" %>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger text-center"> <%= flash[:alert] %></div>
    <% end %>

    <% if flash[:success] %>
      <div class="alert alert-success text-center" id="success"> <%= flash[:success] %></div>
    <% end %>

    <!-- div added for JS functionality -->
    <div id="alert-js"></div>

    <div class="container" role="main">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
      <%= yield %>
        </div>
      </div>
    </div>

    <div class="container">
      <footer class="footer">
          <small><strong><% if current_user %>Logged in as: <%= current_user.name %> &nbsp; | &nbsp; <% end %>
          &copy; 2019 TimeTracker</strong></small>
        </footer>
    </div>

  </body>
</html>
