<!DOCTYPE html>
<html>
  <head>
    <title>TimeTrackerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header-nav" role="navigation">
      <% if current_user %>
        <%= link_to "Manage Clients", clients_path %> |
        <%= link_to "Manage Projects", user_projects_path(@user) %> | 
        <%= link_to "Log Out", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Login", login_path %> | 
        <%= link_to "Sign up", signup_path %> | 
        <a href='/auth/facebook'>Sign Up via Facebook</a>
      <% end %>
    </div>

    <div class="container"  role="main">

    <%= yield %>

    </div>
  </body>
</html>
